body {
    background: ghostwhite;
    color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
}

h1 {
    font-size: 200%;
}

#container {
    margin: 5% auto;
    border-radius: 5px; -webkit-border-radius: 5px; -moz-border-radius: 5px;
    text-align: center;
}

.box {
    display: inline-block;
    border: 1px solid grey;
    width: 100px;
    height: 100px;
    text-align: center;
    box-sizing:border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box;
    padding: 0px;
}

span {
    position: absolute;
    font-size: 75px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    height: 75px;
    width: 75px;
    padding: 0px;
    margin: 5px;
    margin-left: -35px;
}

.top {
    border-top: none;
}

.bottom {
    border-bottom: none;
}

.left {
    border-left: none;
}

.right {
    border-right: none;
}



